{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}

	<h3>Commande n° {{ order.id }}</h3>
	{{ include('cart/state.html.twig', { field: {'value': order.state } }) }}
	<br/>
	<span>Passée le : {{ order.createAt|date('d/m/y') }}</span>
	

	<strong>Contenu de la commande :</strong><br/>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Image du produit</th>
				<th scope="col">Nom du produit</th>
				<th scope="col">Quantité</th>
				<th scope="col">Prix unitaire H.T</th>
				<th scope="col">TVA</th>
				<th scope="col">Total T.T.C</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for product in order.orderDetails %}
					<tr>
						<td>
							{# <img src="/uploads/{{ product.productImage }}" width="100px" alt="{{ product.productName }}">
						<td>{{ product.productName }}</td>
						<td>{{ product.productQuantity }}</td>
						<td>{{ product.productPrice|price }}</td>
						<td>{{ product.productTva }}%</td>
						{% set coeff = 1 + (product.productTva / 100) %}
						<td>{{ ((product.productPrice * coeff) * product.productQuantity)|price }}</td> #}
					</tr>
				{% endfor %}
			</tr>
			<tr>
				<td></td>
				{# <td>{{ order.carrierName }}</td> #}
				<td>1</td>
				<td></td>
				<td></td>
				{# <td>{{ order.carrierPrice|price }}</td> #}
			</tr>
		</tbody>
	</table>

	<div class="text-start fs-5">
		{# <strong>Total H.T : </strong>{{ (order.totalWt - order.totalTva)|price }}<br/>
		<strong>Total TVA : </strong>{{ order.totalTva|price }}<br/>
		<strong>Total T.T.C : </strong>{{ order.totalWt|price }} #}
	</div>
{% endblock %}