{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

    {# Barre de navigation #}
    {% include "account/navbar.html.twig" %}

    <div class="d-flex justify-content-center align-items-center">
        <div class="toast m-3 p-3 d-block justify-content-center align-items-center">
            <h1>Bienvenue, {{ app.user.firstname }} !</h1>

            {# Section des informations utilisateur #}
            <div class="card mb-3 bg-background border-secondary-custom">
                <div class="card-header">
                    <h4 class="color-primary-custom">Informations Personnelles</h4>
                </div>
                <div class="card-body border-secondary-custom-top">
                    <p><strong>Nom :</strong> {{ app.user.lastname }}</p>
                    <p><strong>Email :</strong> {{ app.user.email }}</p>
                    {# <p><strong>Préférences :</strong> {{ app.user.preferences|default('Non définies') }}</p> #}
                    <a href="{{ path('app_account_profil') }}" class="btn btn-primary">Modifier mes informations</a>
                </div>
            </div>
		
            {# Historique des Loisirs #}
            <div class="card mb-3 bg-background border-secondary-custom">
                <div class="card-header">
                    <h4 class="color-primary-custom">Historique des Loisirs
                </div>
                <div class="card-body border-secondary-custom-top">
                    <ul class="list-unstyled">
                        {% for activity in recentActivities %}
                            <li>
                                {% if activity.activityName != '' %}
                                    {{ activity.activityName }} - <small>{{ activity.createAt|date('d/m/Y') }}</small>
                                {% elseif activity.eventName != '' %}
                                    {{ activity.eventName }} - <small>{{ activity.createAt|date('d/m/Y') }}</small>
                                {% elseif activity.offerName != '' %}
                                    {{ activity.offerName }} - <small>{{ activity.createAt|date('d/m/Y') }}</small>
                                {% endif %}
                            </li>
                        {% else %}
                            <li>Aucune activité récente</li>
                        {% endfor %}
                    </ul>
                    <a href="{{ path('app_account_reservation', {'state': 3}) }}"  class="btn btn-primary">Voir les loisirs</a>
                </div>
            </div>
		
            {# Historique des Réservations #}
            <div class="card mb-3 bg-background border-secondary-custom">
                <div class="card-header">
                    <h4 class="color-primary-custom">Réservations</h4>
                </div>
                <div class="card-body border-secondary-custom-top">
                    <p class="card-title">Vous avez {{ upcomingReservations|length }} réservations à venir.</p>
                    <a href="{{ path('app_account_reservation') }}" class="btn btn-primary">Voir les réservations</a>
                </div>
            </div>
		
            {# Gestion des avis et commentaires #}
            <div class="card mb-3 bg-background border-secondary-custom">
                <div class="card-header">
                    <h4 class="color-primary-custom">Avis et Commentaires</h4>
                </div>
                <div class="card-body border-secondary-custom-top">
                    <p class="card-title">Vous avez laissé {{ ratings|length }} avis.</p>
                    <a href="{{ path('app_account_rating') }}" class="btn btn-primary">Gérer mes avis</a>
                </div>
            </div>
		
            {# Panier utilisateur #}
            <div class="card mb-3 bg-background border-secondary-custom">
                <div class="card-header">
                    <h4 class="color-primary-custom">Mon Panier</h4>
                </div>
                <div class="card-body border-secondary-custom-top">
                    <p class="card-title">Vous avez {{ cartItems|length }} articles dans votre panier.</p>
                    <a href="{{ path('app_cart') }}" class="btn btn-primary">Voir mon panier</a>
                </div>
            </div>
		
			{# Bouton pour afficher la liste des partenaires dans un modal #}
			<div class="text-center mt-4">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#partnersModal">
					Voir la liste des partenaires
				</button>
			</div>
            
        </div>
	</div>
    {# Inclure les fichiers de modals #}
    {% include 'account/list.html.twig' %}
{% endblock %}
