{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <div class="toast-inscription d-flex justify-content-center align-items-center">
        <div class="toast fade show w-auto mx-auto" role="alert" aria-live="assertive" aria-atomic="true" aria-labelledby="toast-title">
            <div class="toast-body">
                <h3 id="toast-title">Modification de mon mot de passe</h3>			
                <div class="mt-2 pt-2 border-top" aria-label="Formulaire de modification de mot de passe">
                    {{ form_start(modifyPwd) }}
                        
                        {# Affichage des erreurs spécifiques au formulaire #}
                        <div class="text-danger">
                            {% for flash_message in app.flashes('error') %}
                                <div>{{ flash_message }}</div>
                            {% endfor %}
                        </div>

                        {# Affichage du formulaire avec erreurs gérées par Symfony #}
                        {{ form(modifyPwd) }}

                        {# Pour chaque champ, les erreurs seront automatiquement affichées sous chaque champ #}
                        <div>
                            {{ form_errors(modifyPwd.actualPassword) }}
                            {{ form_errors(modifyPwd.plainPassword.first) }}
                            {{ form_errors(modifyPwd.plainPassword.second) }}
                            <small class="form-text text-muted">
                                <ul class="list-unstyled color-secondary-custom">
                                    <li>Contenir au moins une lettre (majuscule ou minuscule).</li>
                                    <li>Contenir au moins un chiffre.</li>
                                    <li>Avoir au moins 8 caractères.</li>
                                    <li>Peut inclure des caractères spéciaux tels que @, $, !, %, *, ?, et &.</li>
                                </ul>
                            </small>
                        </div>
                    
                    {{ form_end(modifyPwd) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
