{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    {# Barre de navigation #}
    {% include "account/navbar.html.twig" %}

    <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center gap-3">

        {# Section : Informations Personnelles #}
        <div class="col-md-8 toast d-flex m-3 p-3">
            {{ form_start(profilForm, {'method': 'POST', 'attr': {'class': 'w-100'}}) }}
                <h1>Mes informations personnelles</h1>
                <div class="row d-flex justify-content-between">
                    <div class="col-md-6">
                        {{ form_row(profilForm.firstname) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(profilForm.lastname) }}
                    </div>
                </div>
                <div class="row d-flex justify-content-between">
                    <div class="col-md-6">
                        {{ form_row(profilForm.phone) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(profilForm.birthdayDate) }}
                    </div>
                </div>
                <div class="col-md-12">
                    {{ form_row(profilForm.email) }}
                </div>
            {{ form_end(profilForm) }}
        </div>

        {# Section : Profil Information #}
        <div class="col-md-4 card bg-primaryBlue border-secondary-custom m-3">
            <div class="shadow rounded w-sm-100-important d-none-md mt-4 h-100">
                <div class="p-4 flex">
                    <div class="text-center">
                        {% if user.image %}
                            <img class="rounded-circle" style="height: 88px; width: 88px;" src="{{ asset('uploads/profil_pictures/' ~ user.image) }}" alt="Photo de profil">
                        {% else %}
                            <i class="bi bi-person-circle color-secondary-custom" style="font-size: 88px;"></i>
                        {% endif %}
                    </div>
                    <div class="ml-4 flex flex-col text-center">
                        {% if user.pseudo %}
                            <p class="mb-2 color-secondary-custom font-weight-bold">
                                {{ user.pseudo }}
                            </p>
                        {% endif %}
                        <p class="mb-2 mb-2 color-secondary-custom font-weight-bold">
                            {{ user.firstname }} {{ user.lastname }}
                        </p>
                        <p class="mb-2 color-secondary-custom">
                            {{ user.email }}
                        </p>
                    </div>
                    <hr class="m-0 border-secondary-custom">
                    <div class="pb-4 px-4 flex flex-col">
                        <ul class="list-group list-unstyled p-0 m-0">
                            <li class="mt-4">
                                <a  class="text-decoration-none" href="{{ path('app_account_modify_pwd') }}">Modifier mon mot de passe</a>
                            </li>
                            <li class="mt-4">
                                <a class="text-decoration-none cursor-pointer" data-bs-toggle="collapse" href="#collapsePseudo" role="button" aria-expanded="false" aria-controls="collapsePseudo">
                                    <span class="false mb-4 cursor-pointer">
                                        <span class="link-chevron">
                                            Pseudo
                                        </span>
                                        <i class="fal fa-chevron-right ml-2 font-weight-bolder" style="font-size: 10px;"></i>
                                    </span>
                                </a>
                                
                                <div class="collapse mt-3" id="collapsePseudo">
                                    <div class="card card-body">
                                        {{ form_start(pseudoForm, {'method': 'POST'}) }}
                                            <div class="mb-3">
                                                {{ form_row(pseudoForm.pseudo) }}
                                            </div>
                                            <div class="mb-3">
                                                {{ form_row(pseudoForm.submit) }}
                                            </div>
                                        {{ form_end(pseudoForm) }}
                                    </div>
                                </div>
                            </li>
                            <li class="mt-4">
                                <a class="text-decoration-none cursor-pointer">
                                    <span class="false  mb-4 cursor-pointer">
                                        <span class="link-chevron">
                                            Sécurité
                                        </span>
                                        <i class="fal fa-chevron-right ml-2 font-weight-bolder" style="font-size: 10px;"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}