{% extends 'base.html.twig' %}

{% block title %}Réservations utilisateur{% endblock %}

{% block body %}
    <ul class="nav nav-tabs bg-primaryBlue p-3">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_account') }}">Tableau de bord</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_account_reservation') }}">Réservations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_account_profil') }}">Mon profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_account_message') }}">Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_account_notice') }}">Avis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_cart') }}">Mon panier</a>
        </li>
    </ul>
    <div class="container my-5 w-auto d-flex justify-content-center align-items-center min-vh-100">
        <div class="toast d-flex justify-content-center align-items-center">
        </div>        
    </div>
{% endblock %}