{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

    {# 🔹 Navigation #}
    {% include "account/navbar.html.twig" %}

    {# 🔹 Conteneur principal #}
    <div class="container my-4">

        {% if orders is empty %}
            <p class="text-center">Vous n'avez encore aucune réservation.</p>
        {% else %}

            <div class="row">

                {# 🔹 Section principale des commandes #}
                <div class="col-md-8">

                    <section role="region" aria-labelledby="order-list">

                        <h2 id="order-list" class="text-center my-4 color-primary-custom">Vos Commandes</h2>

                        <div class="accordion" id="orderAccordion">

                            {% for order in orders %}

                                <div class="card shadow-sm mb-3">

                                    <div class="card-header d-flex justify-content-between align-items-center">

                                        <h3 class="h5 m-0">Commande du {{ order.createAt|date('d/m/Y H:i') }}</h3>
                                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#orderDetails{{ loop.index }}" aria-expanded="false" aria-controls="orderDetails{{ loop.index }}">
                                            Voir les détails
                                        </button>

                                    </div>

                                    <div class="card-body">

                                        <p><strong>Activité :</strong> 
                                            {% if order.activityName != 'Inconnu' %}
                                                {{ order.activityName }}
                                            {% elseif order.eventName != 'Inconnu' %}
                                                {{ order.eventName }}
                                            {% elseif order.offerName != 'Inconnu' %}
                                                {{ order.offerName }}
                                            {% endif %}
                                        </p>
                                        <p><strong>Partenaire :</strong> {{ order.partnerName }}</p>
                                        <p>{% include "cart/state.html.twig" %}</p>
                                        <p><strong>Prix :</strong> {{ order.cartPrice|price }}</p>

                                    </div>

                                    {# 🔹 Collapse des détails de la commande sous forme de carte #}
                                    <div id="orderDetails{{ loop.index }}" class="collapse" data-bs-parent="#orderAccordion">
                                        <div class="card mb-4 shadow-sm border-1">
                                            <div class="card-body">
                                                <h4 class="text-center color-primary-custom">Détails de la commande</h4>

                                                {% for detail in order.orderDetails %}
                                                    <article class="card mb-3 shadow-sm border-1">
                                                        {# Responsive : colonne sur sm, ligne sur md et plus #}
                                                        <div class="row g-0 text-center">
                                                            <div class="col-md-4 d-flex justify-content-center justify-content-md-start">
                                                                {# Image centrée sur sm, à gauche sur md+ #}
                                                                <picture>
                                                                    <source srcset="/uploads/photos/{{ detail.activityImage|replace({'.jpg': '.webp', '.png': '.webp'}) }}" type="image/webp">
                                                                    <img 
                                                                        src="/uploads/photos/{{ detail.activityImage }}" 
                                                                        class="img-fluid rounded h-100 object-fit-cover" 
                                                                        alt="{{ detail.activityName }} - Activité"
                                                                        loading="lazy"
                                                                        width="200" height="150"
                                                                    >
                                                                </picture>
                                                            </div>

                                                            <div class="col-md-8">
                                                                <div class="card-body">
                                                                    <div class="d-flex justify-content-between flex-column flex-md-row">
                                                                        <p class="card-text"><strong>Quantité :</strong> x{{ detail.activityQuantity }}</p>
                                                                        <p class="card-text"><strong>Prix :</strong> {{ detail.activityPrice|price }}</p>
                                                                    </div>
                                                                    
                                                                    <div class="d-flex justify-content-between flex-column flex-md-row">
                                                                        <p class="card-text"><strong>Date de début :</strong></p>
                                                                        <p class="card-text">{{ detail.dateStart|date('d/m/Y') }}</p>
                                                                    </div>

                                                                    {% if detail.dateStart %}
                                                                        <p class="card-text mt-0 pt-0 text-md-end"> à {{ detail.time|date('H:i') }}</p>
                                                                    {% endif %}

                                                                    {# Section partenaire #}
                                                                    <section class="mb-2">
                                                                        <h6 class="visually-hidden">Partenaire</h6>
                                                                        <div class="card-text color-primary-custom d-flex flex-column justify-content-md-between flex-md-row align-items-center align-items-md-start">
                                                                            <strong>{{ detail.partnerName }}</strong>
                                                                            <div class="mt-2">
                                                                                <a href="{{ detail.partnerWebsite }}" target="_blank" class="text-decoration-none color-primary-custom mb-1 me-md-2"><i class="bi bi-globe"></i></a>
                                                                                <a href="tel:{{ detail.partnerPhone }}" class="text-decoration-none color-primary-custom mb-1 me-md-2"><i class="bi bi-telephone-fill"></i> {{ detail.partnerPhone }}</a>
                                                                                <a href="mailto:{{ detail.partnerEmail }}" class="text-decoration-none color-primary-custom mb-1"><i class="bi bi-envelope-fill"></i> {{ detail.partnerEmail }}</a>
                                                                            </div>
                                                                        </div>
                                                                    </section>

                                                                    {# Section adresse du partenaire #}
                                                                    <section class="mb-2">
                                                                        <h6 class="visually-hidden">Adresse du partenaire</h6>
                                                                        <a class="text-decoration-none color-primary-custom d-block" href="https://www.google.com/maps/search/?api=1&query={{ detail.partnerAddress|url_encode }},{{ detail.partnerPostal|url_encode }},{{ detail.partnerCity|url_encode }}" target="_blank">
                                                                            <i class="bi bi-geo-alt-fill"></i> <strong>Adresse :</strong> {{ detail.partnerAddress }}, {{ detail.partnerPostal }} - {{ detail.partnerCity }}
                                                                        </a>
                                                                    </section>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            {% endfor %}
                        </div>

                        {# 🔹 Pagination #}
                        <div class="pagination d-flex justify-content-center m-3">
                            {% if currentPage > 1 %}
                                <a href="{{ path('app_account_reservation', {'page': currentPage - 1}) }}" class="page-link" aria-label="Page précédente">
                                    ← Précédent
                                </a>
                            {% endif %}

                            <span class="page-link disabled rounded">Page {{ currentPage }} sur {{ totalPages }}</span>

                            {% if currentPage < totalPages %}
                                <a href="{{ path('app_account_reservation', {'page': currentPage + 1}) }}" class="page-link" aria-label="Page suivante">
                                    Suivant →
                                </a>
                            {% endif %}
                        </div>

                    </section>
                </div>

                {# 🔹 Section résumé des commandes passées #}
                <div class="col-md-4">
                    <div class="card shadow-sm border-1 p-3 sticky-top">
                        {% if orders is not empty %}
                            <h3 class="text-center color-primary-custom"><strong>Total des commandes </strong> {{ totalOrders }}</h3>
                            <hr>
                            <h4 class="text-center color-primary-custom">Nombre de commandes par état</h4>
                            <hr>
                            <ul>
                                <li class="list-group-item">
                                    <a href="{{ path('app_account_reservation', {'state': 0}) }}" class="text-decoration-none">
                                        <span class="badge bg-background color-primary-custom border-hover-custom" >En attente de paiement ({{ totalPending }})</span>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{{ path('app_account_reservation', {'state': 1}) }}" class="text-decoration-none">
                                        <span class="badge bg-primaryBlue color-secondary-custom border-secondary-custom">Paiement validé ({{ totalValidated }})</span>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{{ path('app_account_reservation', {'state': 2}) }}" class="text-decoration-none">
                                        <span class="badge bg-secondaryYellow color-primary-custom border-hover-custom">En cours ({{ totalShipped }})</span>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{{ path('app_account_reservation', {'state': 3}) }}" class="text-decoration-none">
                                        <span class="badge bg-secondaryRed color-primary-custom border-hover-custom">Terminée ({{ totalCompleted }})</span>
                                    </a>
                                </li>
                            </ul>
                        {% else %}
                            <p class="text-center">Aucune commande enregistrée.</p>
                        {% endif %}
                    </div>
                </div>

            </div>
        {% endif %}
    </div>

{% endblock %}
