{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
	<div class="row justify-content-center mb-3">
		<div class="col-md-6 bg-primaryBlue border-secondary-custom">
			<h2 class="text-center">Mot de passe oublié</h2>
			{{ form_start(forgetForm) }}
                {{ form_row(forgetForm.email) }}
                {{ form_row(forgetForm.captcha) }}
                {{ form_row(forgetForm.submit) }}
            {{ form_end(forgetForm) }}
			<div class="text-center mt-3">
				<a href="{{ path('app_login') }}" class="text-decoration-none">Retour à la connexion</a>
			</div>
		</div>
	</div>
{% endblock %}