{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
	<div class="row justify-content-center mb-3">
        <div class="col-md-6 bg-primaryBlue border-secondary-custom">
            <h2 class="text-center">Réinitialisation du mot de passe</h2>
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            {{ form_start(resetForm, {'attr': {'data-turbo': 'false'} }) }}
                {{ form_row(resetForm.plainPassword) }}
                {{ form_row(resetForm.captcha) }}
                {{ form_row(resetForm.submit) }}
            {{ form_end(resetForm) }}
            <div class="text-center m-3">
                <a href="{{ path('app_login') }}">Retour à la connexion</a>
            </div>
        </div>
    </div>
{% endblock %}