{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }} {{ event.name }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card w-auto border-secondary-custom bg-primaryBlue m-2 p-3" style="max-width: 1000px;">
            <div class="row g-0 d-flew justify-content-center align-items-center">
                {# Section : Navigation et titre #}
                <small class="card-header color-secondary-custom" style="border-bottom: none;">
                    <i>
                        <a 
                            href="{{ path('app_eventstrend', { slug : event.eventstrend.slug } ) }}" 
                            class=" text-decoration-none color-secondary-custom" 
                            aria-label="Retour aux évènements tendances">{{ event.eventstrend.name }}
                        </a> > {{ event.name }}
                    </i>
                </small>
                {# Section : Carrousel d'images #}
                <div class="col-md-6">
                    <div id="carouselEvent" class="carousel carousel-light slide card-img-top" data-bs-ride="carousel">
                        {# Indicateurs du carrousel #}
                        <div class="carousel-indicators">
                            {% for i in 0..3 %}
                                <button 
                                    type="button" 
                                    data-bs-target="#carouselEvent" 
                                    data-bs-slide-to="{{ i }}" 
                                    class="{% if i == 0 %}active{% endif %}" 
                                    aria-label="Slide {{ i + 1 }}"
                                ></button>
                            {% endfor %}
                        </div>
                        {# Slides du carrousel #}
                        <div class="carousel-inner" data-bs-interval="10000">
                            {% for image in [event.image, event.image1, event.image2, event.image3] %}
                            <div 
                                class="carousel-item {% if loop.first %}active{% endif %}"
                                data-event-name="{{ event.name }}"
                                data-event-slug="{{ event.slug }}"
                                data-event-id="{{ event.id }}"
                            >
                                <a href="#">
                                    <picture>
                                        {# WebP version #}
                                        <source srcset="/uploads/photos/{{ image|replace({'.jpg': '.webp', '.png': '.webp'}) }}" type="image/webp">
                                        {# Fallback JPG/PNG #}
                                        <img 
                                            src="/uploads/photos/{{ image }}"
                                            class="figure-img img-fluid rounded border-secondary-custom" 
                                            alt="Image de {{ event.name }}" 
                                            style="object-fit: cover; width: 100%; height: 400px;"
                                            loading="lazy"
                                            aria-hidden="false"
                                        >
                                    </picture>
                                    <div class="carousel-caption" style="background-color: rgba(0, 0, 0, 0.2);">
                                        <h2 class="color-secondary-custom">{{ event.name }}</h2>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        {# Boutons de navigation #}
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselEvent" data-bs-slide="prev" aria-label="Image Précédent">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Précédent</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselEvent" data-bs-slide="next" aria-label="Image Suivant">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Suivant</span>
                        </button>
                    </div>
                </div>
                {# Section : Description #}
                <div class="col-md-6">
                    <div class="card-body test-center">
                        <h2 class="card-title color-secondary-custom fs-1">{{ event.name }}</h2>
                        <h3 class="visually-hidden">Description</h3>
                        <div>
							{# Collapse sur mobile  #}
                            <p class="d-sm-block d-md-none">
                                <a 
                                    class="link text-decoration-none" 
                                    type="button" 
                                    data-bs-toggle="collapse" 
                                    data-bs-target="#collapseDescription" 
                                    aria-expanded="false" 
                                    aria-controls="collapseDescription"
                                    id="toggleDescriptionButton"
                                    aria-label="Voir plus de la description">
                                    Voir Plus...
                                </a>
                            </p>
                            <div class="d-sm-block d-md-none">
                                <div 
                                    class="collapse" 
                                    id="collapseDescription">
                                    <div class="card card-body color-secondary-custom bg-primaryBlue border-secondary-custom">
                                        {{ event.description is not empty ? event.description|striptags : 'Aucune description disponible' }}
                                    </div>
                                </div>
                            </div>
							{# Description sur md #}
                            <div class="d-none d-md-block">
                                <div class="card card-body color-secondary-custom bg-primaryBlue border-secondary-custom">
                                    {{ event.description is not empty ? event.description|striptags : 'Aucune description disponible' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				{# Section : Informations de l'évènement spécial #}
                <div class="card-footer d-block justify-content-center align-items-center" style="border-top: none;">
                    <div class="row w-100">
                        <div class="col-sm-6 col-md-4">
                            <h2 class="visually-hidden">Informations Évènement Spécial</h2>
                            {# Section : Localisation #}
                            <section class="mb-1" role="region" aria-labelledby="location-header">
                                <h3 id="location-header" class="visually-hidden">Lieu de l'activité</h3>
                                <p class="card-text color-secondary-custom">
                                    <a href="{{ event.partners.getGoogleMapsLink() }}" target="_blank" class="text-decoration-none">
                                        <i class="bi bi-geo-alt-fill me-2"></i><strong> Adresse : </strong>{{ event.partners.address }}
                                    </a>
                                </p>
                            </section>
                            {# Section : Partenaire #}
                            <section class="mb-1" role="region" aria-labelledby="partner-header">
                                <h3 id="partner-header" class="visually-hidden">Partenaire</h3>
                                <div class="card-text color-secondary-custom">
                                    <i class="bi bi-people-fill me-2" aria-hidden="true"></i>
                                    <strong>{{ event.partners.name }}</strong>
                                    <div class="row d-block">
                                        <a href="{{ event.partners.getWebsiteLink() }}" target="_blank" class="text-decoration-none me-2"><i class="bi bi-globe"></i></a>
                                        <a href="{{ event.partners.getPhoneLink() }}" class="text-decoration-none"><i class="bi bi-telephone-fill me-2"></i></a>
                                        <a href="{{ event.partners.getMailtoLink() }}" class="text-decoration-none"><i class="bi bi-envelope-fill"></i></a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        
                        {# Section : Évaluations #}
                        <div class="col-sm-6 col-md-4">
                            <h2 class="visually-hidden">Notes, Avis et Tags</h2>

                            {# Section : Avis #}
                            <section class="mb-1" role="region" aria-labelledby="reviews-header">
                                <p>
                                    <a href="{{ path('app_search_rating', { 'event': event.id }) }}" class="text-decoration-none color-secondary-custom" aria-label="Voir les avis">
                                        <h3 id="avis-header" class="visually-hidden">Avis des utilisateurs</h3>
                                        {% for rating in ratings|slice(-1,1) %}
                                            <p><strong>({{ rating.score }}/5)</strong> - {{ rating.comment ?: 'Pas de commentaire' }}</p>
                                        {% else %}
                                            <p>Soyez le premier à donner votre avis</p>
                                        {% endfor %}
                                    </a>
                                </p>
                            </section>

                            {# Section : Notes #}
                            <section class="mb-1" role="region" aria-labelledby="rating-header">
                                <h3 id="rating-header" class="visually-hidden">Notes</h3>
                                <p class="card-text color-secondary-custom">
                                    {% if app.user %}
                                        <a href="#" class="text-decoration-none color-secondary-custom" aria-label="Ajouter une note" data-bs-toggle="collapse" data-bs-target="#ratingForm">
                                            {% if averageRating is not null %}
                                                <span class="stars">
                                                    {% for i in 1..5 %}
                                                        {% if i <= averageRating %}
                                                            <i class="bi bi-star-fill"></i>
                                                        {% elseif i > averageRating and i < averageRating + 1 %}
                                                            <i class="bi bi-star-half"></i>
                                                        {% else %}
                                                            <i class="bi bi-star"></i>
                                                        {% endif %}
                                                    {% endfor %}
                                                </span>
                                                ({{ averageRating }}/5)
                                            {% else %}
                                                ✩✩✩✩✩ (0/5)
                                            {% endif %}
                                        </a>
                                    {% else %}
                                        <span class="stars">
                                            {% if averageRating is not null %}
                                                {% for i in 1..5 %}
                                                    {% if i <= averageRating %}
                                                        <i class="bi bi-star-fill"></i>
                                                    {% elseif i > averageRating and i < averageRating + 1 %}
                                                        <i class="bi bi-star-half"></i>
                                                    {% else %}
                                                        <i class="bi bi-star"></i>
                                                    {% endif %}
                                                {% endfor %}
                                                ({{ averageRating }}/5)
                                            {% else %}
                                                ✩✩✩✩✩ (0/5)
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                </p>
                                <div class="collapse" id="ratingForm">
                                    {% if ratingForm is not null %}
                                        {{ form_start(ratingForm) }}
                                            {{ form_row(ratingForm.score) }}
                                            {{ form_row(ratingForm.comment) }}
                                            {{ form_row(ratingForm.submit) }}
                                        {{ form_end(ratingForm) }}
                                    {% endif %}
                                </div>
                            </section>

                            {# Section : Tag #}
                            <section class="mb-1" role="region" aria-labelledby="tag-header">
                                <h3 id="tag-header" class="visually-hidden">Tags</h3>
                                <p class="card-text color-secondary-custom">
                                    <i class="bi bi-tags me-2" aria-hidden="true"></i>
                                    {% if event.tags is not empty %}
                                        {% for tag in event.tags|slice(-2,2) %}
                                            <span class="badge bg-secondaryYellow color-primary-custom border-hover-custom me-1">{{ tag.name }}</span>
                                        {% endfor %}
                                    {% else %}
                                        <span class="color-secondary-custom">Aucun tag disponible</span>
                                    {% endif %}
                                </p>
                            </section>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            {# Section : Tarifs #}
                            <h2 class="visually-hidden">Prix et Réduction</h2>
                            <section class="mb-1">
                                <h3 class="visually-hidden">Prix</h3>
                                <p class="card-text color-secondary-custom">
                                    <i class="bi bi-cash me-2" aria-hidden="true"></i>
                                    Prix TTC <strong class="text-center color-primary-custom bg-secondaryYellow border-hover-custom fs-7 px-2" aria-label="Prix de l'évènement spécial">{{ event.price|price }}</strong>
                                </p>
                                <h3 class="visually-hidden">Nombre de personne</h3>
                                <p class="card-text color-secondary-custom">
                                    <i class="bi bi-person-fill me-2" aria-hidden="true"></i>
                                    Pour <strong class="text-center color-secondary-custom fs-7" aria-label="Nombre de personne pour l'activité">x{{ event.peopleCount }}</strong> personne
                                </p>
                            </section>
                            {# Section : Dates #}
                            <section class="mb-1">
                                <h3   h3 class="visually-hidden">Dates de Validité</h3>
                                <p class="card-text color-secondary-custom">
                                    <i class="bi bi-calendar-check me-2" aria-hidden="true"></i>
                                    {% if event.dateStart and event.dateStop %}
                                        Valide du <strong>{{ event.dateStart|date('d/m/Y') }}</strong> au <strong>{{ event.dateStop|date('d/m/Y') }}</strong>
                                    {% else %}
                                        Date de validité non définie
                                    {% endif %}
                                </p>
                            </section>
                        </div>
                    </div>
                    {# Section : Boutons d'actions #}
                    <div class="btn-group d-flex justify-content-center align-items-center" role="group" aria-label="Options de réservation" style="border-top: none;">
                        <a href="{{ path('app_cart_add', { type: 'event', id: event.id } ) }}" class="btn btn-primary" aria-label="Ajouter cette offre au panier">Ajouter au panier</a>
                        <button type="button" class="btn" aria-label="Réserver cette activité">Réserver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
