{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }} {{ subcategory.name }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card w-auto border-secondary-custom bg-primaryBlue mb-2 p-3" style="max-width: 1000px;">
            {% set relations = [
                { 'name': 'Activités', 'items': subcategory.activities, 'route': 'app_activity' },
                { 'name': 'Événements', 'items': subcategory.events, 'route': 'app_event' }
            ] %}
            <div class="row g-0">
                <small class="card-header color-secondary-custom" style="border-bottom: none;">
                    <i>
                        <a href="{{ path('app_category', { slug : subcategory.category.slug } ) }}" class=" text-decoration-none color-secondary-custom" aria-label="Retour à la catégorie {{ subcategory.category.name }}">
                            {{ subcategory.category.name }}
                        </a> > {{ subcategory.name }}
                    </i>
                </small>
                {% for relation in relations %}
                    {% if relation.items|length > 0 %}
                        {# Section : Carrousel d'images #}
                        <div class="col-md-6">
                            <div id="carouselSubcategory-{{ relation.name|lower|replace({' ': '-'}) }}" class="carousel carousel-light slide card-img-top" data-bs-ride="carousel" aria-live="polite" aria-label="Carrousel des loisirs de la sous-catégorie">
                                {# Indicateurs du carrousel #}
                                <div class="carousel-indicators">
                                    {% for item in relation.items %}
                                        <button 
                                            type="button" 
                                            data-bs-target="#carouselSubcategory" 
                                            data-bs-slide-to="{{ loop.index0 }}" 
                                            class="{% if loop.first %}active{% endif %}" 
                                            aria-current="{% if loop.first %}true{% endif %}" 
                                            aria-label="Slide {{ loop.index }}"
                                        ></button>
                                    {% endfor %}
                                </div>
                                {# Slides du carrousel #}
                                <div class="carousel-inner" data-bs-interval="10000">
                                    {% for item in relation.items %}
                                        <div 
                                            class="carousel-item {% if loop.first %}active{% endif %}" 
                                            data-item-name="{{ item.name }}" 
                                            data-item-slug="{{ item.slug }}"
                                            data-item-id="{{ item.id }}"
                                            data-item-type="{{ relation.route == 'app_activity' ? 'activity' : 'event' }}"
                                        >
                                            <a href="{{ path(relation.route, { slug: item.slug} ) }}" aria-label="Voir le loisir {{ item.name }}">
                                                <picture>
                                                    {# WebP version #}
                                                    <source srcset="/uploads/{{ item.image|replace({'.jpg': '.webp', '.png': '.webp'}) }}" type="image/webp">
                                                    {# Fallback JPG/PNG #}
                                                    <img 
                                                        src="/uploads/{{ item.image }}"
                                                        class="figure-img img-fluid rounded border-secondary-custom" 
                                                        alt="Image du loisir {{ item.name }}" 
                                                        style="object-fit: cover; width: 100%; height: 400px;"
                                                        loading="lazy"
                                                        aria-hidden="false"
                                                    >
                                                </picture>
                                                <div class="carousel-caption" style="background-color: rgba(0, 0, 0, 0.2);">
                                                    <h2 class="color-secondary-custom">{{ item.name }}</h2>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                                {# Boutons de navigation #}
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselSubcategory" data-bs-slide="prev" aria-label="Carrousel Précédent">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Précédent</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselSubcategory" data-bs-slide="next" aria-label="Carrousel Suivant">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Suivant</span>
                                </button>
                            </div>
                        </div>
                        {# Section : Description #}
                        <div class="col-md-6">
                            <div class="card-body text-center">
                                <h2 class="card-title color-secondary-custom fs-1">{{ subcategory.name }}</h2>
                                <h3 class="visually-hidden">Description</h3>
                                <div>
                                    {# Collapse sur mobile  #}
                                    <p class="d-sm-block d-md-none">
                                        <a 
                                            class="link text-decoration-none" 
                                            type="button" 
                                            data-bs-toggle="collapse" 
                                            data-bs-target="#collapseDescription" 
                                            aria-expanded="false" 
                                            aria-controls="collapseDescription"
                                            id="toggleDescriptionButton"
                                            aria-label="Voir plus de la description">
                                            Voir Plus...
                                        </a>
                                    </p>
                                    <div class="d-sm-block d-md-none">
                                        <div 
                                            class="collapse" 
                                            id="collapseDescription">
                                            <div class="card card-body color-secondary-custom bg-primaryBlue border-secondary-custom">
                                                {{ subcategory.description is not empty ? subcategory.description|striptags : 'Aucune description disponible' }}
                                            </div>
                                        </div>
                                    </div>
                                    {# Description sur md #}
                                    <div class="d-none d-md-block">
                                        <div class="card card-body color-secondary-custom bg-primaryBlue border-secondary-custom">
                                            {{ subcategory.description is not empty ? subcategory.description|striptags : 'Aucune description disponible' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# Section : Informations de la sous-catégorie #}
                        <div class="card-footer d-block justify-content-center align-items-center" style="border-top: none;">
                            <div class="row w-100">
                                {# Section : Informations activité #}
                                <div class="col-sm-6 col-md-4">
                                    <h2 class="visually-hidden">Informations Activités</h2>
                                    {% for item in relation.items %}
                                        <section class="mb-1">
                                            <h3 class="visually-hidden">Activité concernée</h3>
                                            <p class="card-text color-secondary-custom">
                                                <i class="bi bi-activity me-2" aria-hidden="true"></i>
                                                Activité : <a href="{{ path(relation.route, { slug: item.slug } ) }}" class="text-decoration-none color-secondary-custom">
                                                    {{ item.name }}
                                                </a>
                                            </p>
                                        </section>
                                        {# Section : localisation #}
                                        <section class="mb-1" role="region" aria-labelledby="location-header">
                                            <h3 id="location-header" class="visually-hidden">Lieu de l'activité</h3>
                                            <p class="card-text color-secondary-custom">
                                                <a href="{{ item.partners.getGoogleMapsLink() }}" target="_blank" class="text-decoration-none">
                                                    <i class="bi bi-geo-alt-fill me-2"></i><strong> Adresse : </strong>{{ item.partners.address }}
                                                </a>
                                            </p>
                                        </section>
                                        {# Section : partenaire #}
                                        <section class="mb-1" role="region" aria-labelledby="partner-header">
                                            <h3 id="partner-header" class="visually-hidden">Partenaire</h3>
                                            <div class="card-text color-secondary-custom">
                                                <i class="bi bi-people-fill me-2" aria-hidden="true"></i>
                                                <strong>{{ item.partners.name }}</strong>
                                                <div class="row d-block">
                                                    <a href="{{ item.partners.getWebsiteLink() }}" target="_blank" class="text-decoration-none me-2"><i class="bi bi-globe"></i></a>
                                                    <a href="{{ item.partners.getPhoneLink() }}" class="text-decoration-none"><i class="bi bi-telephone-fill me-2"></i></a>
                                                    <a href="{{ item.partners.getMailtoLink() }}" class="text-decoration-none"><i class="bi bi-envelope-fill"></i></a>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                {% endfor %}
                                {# Section : Évaluations #}
                                <div class="col-sm-6 col-md-4">
                                    <h2 class="visually-hidden">Notes, Avis et Tags</h2>
                                    <section class="mb-1" role="region" aria-labelledby="rating-header">
                                        <h3 id="rating-header" class="visually-hidden">Notes</h3>
                                        <p class="card-text color-secondary-custom">
                                            <i class="bi bi-star-fill me-2" aria-hidden="true"></i>
                                            <a href="#" class="text-decoration-none color-secondary-custom" aria-label="Voir la note">Note</a>
                                            et 
                                            <a href="#" class="text-decoration-none color-secondary-custom" aria-label="Ajouter une note">Ajouter une note</a>
                                        </p>
                                    </section>
                                    <section class="mb-1" role="region" aria-labelledby="reviews-header">
                                        <h3 id="reviews-header" class="visually-hidden">Avis</h3>
                                        <p class="card-text color-secondary-custom">
                                            <i class="bi bi-stars me-2" aria-hidden="true"></i>
                                            <a href="#" class="text-decoration-none color-secondary-custom" aria-label="Voir les avis">Voir les avis</a>
                                            et 
                                            <a href="#" class="text-decoration-none color-secondary-custom" aria-label="Ajouter un avis">Ajouter un avis</a>
                                        </p>
                                    </section>
                                    <section class="mb-1" role="region" aria-labelledby="tag-header">
                                        <h3 id="tag-header" class="visually-hidden">Tag</h3>
                                        <p class="card-text color-secondary-custom">
                                            <i class="bi bi-tag-fill me-2" aria-hidden="true"></i>
                                            Tag
                                        </p>
                                    </section>
                                </div>
                                {# Section : Tarifs #}
                                <div class="col-sm-6 col-md-4">
                                    <h2 class="visually-hidden">Prix et Réduction</h2>
                                    <section class="mb-1">
                                        <h3 class="visually-hidden">Prix</h3>
                                        <p class="card-text color-secondary-custom">
                                            {% for item in relation.items %}
                                                <i class="bi bi-cash me-2" aria-hidden="true"></i>
                                                Prix TTC <strong class="text-center color-primary-custom bg-secondaryYellow border-hover-custom fs-7 px-2" aria-label="Prix de l'activité">{{ item.price|price }}</strong>
                                            {% endfor %}
                                        </p>
                                        <h3 class="visually-hidden">Nombre de personne</h3>
                                        <p class="card-text color-secondary-custom">
                                            {% for item in relation.items %}
                                                <i class="bi bi-person-fill me-2" aria-hidden="true"></i>
                                                Pour <strong class="text-center color-secondary-custom fs-7" aria-label="Nombre de personne pour l'activité">x {{ item.peopleCount }}</strong> personne
                                            {% endfor %}
                                        </p>
                                    </section>
                                </div>
                            </div>
                            {# Section : Boutons d'actions #}
                            <div class="btn-group d-flex justify-content-center align-items-center" role="group" aria-label="Options d'achat" style="border-top: none;">
                                {% for item in relation.items %}
                                    <a href="{{ path('app_cart_add', { type: (relation.route == 'app_activity' ? 'activity' : 'event'), id: item.id }) }}" type="button" class="btn" aria-label="Ajouter cette activité au panier">Ajouter au panier</a>
                                    <a href="#" class="btn" aria-label="Réserver cette activité">Réserver</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
