{# Modal FAQ #}
<div class="modal fade" id="faqModal" tabindex="-1" aria-labelledby="faqModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="faqModalLabel">Questions Fréquentes</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <div class="accordion" id="faqAccordion">
                    {# FAQ Questions Dynamically Populated #}
                    {% set faqs = [
                        {'question': 'Comment puis-je m\'inscrire ?', 'answer': 'Cliquez sur le bouton d\'inscription et suivez les instructions !'},
                        {'question': 'Quelles activités proposez-vous ?', 'answer': 'Nous proposons des activités comme le kayak, la randonnée, le VTT, et plus encore.'},
                        {'question': 'Y a-t-il des réductions disponibles ?', 'answer': 'Oui, des réductions sont proposées pour les réservations en groupe.'},
                        {'question': 'Puis-je annuler ma réservation ?', 'answer': 'Oui, les réservations peuvent être annulées sous certaines conditions.'},
                        {'question': 'Comment contacter le support ?', 'answer': 'Vous pouvez nous contacter via la section "Contact" de notre site.'},
                        {'question': 'Où puis-je trouver des avis ?', 'answer': 'Les avis sont disponibles sur chaque page d\'activité.'}
                    ] %}
                    {% for faq in faqs %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ loop.index }}">
                                <button class="accordion-button" 
                                        type="button" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#collapse{{ loop.index }}" 
                                        aria-expanded="{{ loop.first }}" 
                                        aria-controls="collapse{{ loop.index }}">
                                    {{ faq.question }}
                                </button>
                            </h2>
                            <div id="collapse{{ loop.index }}" 
                                class="accordion-collapse collapse {% if loop.first %}show{% endif %}" 
                                aria-labelledby="heading{{ loop.index }}" 
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    {{ faq.answer }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
