{# Modal Filtres de recherche #}
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filtrer la recherche</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body bg-primaryBlue border-secondary-custom">
                {{ form_start(searchForm) }}
                    <div class="row g-3">
                        <div class="col-md-4">{{ form_row(searchForm.activity) }}</div>
                        <div class="col-md-4">{{ form_row(searchForm.offer) }}</div>
                        <div class="col-md-4">{{ form_row(searchForm.event) }}</div>

                        <div class="col-md-3">{{ form_row(searchForm.user) }}</div>
                        <div class="col-md-6">{{ form_row(searchForm.score) }}</div>
                        <div class="col-md-3">
                            {{ form_row(searchForm.price) }}
                            <p class="color-secondary-custom">Valeur choisie : <span id="priceValue">100 €</span></p>
                        </div>

                        <div class="col-md-3">{{ form_row(searchForm.tags) }}</div>
                        <div class="col-md-3">{{ form_row(searchForm.region) }}</div>
                        <div class="col-md-3">{{ form_row(searchForm.city) }}</div>
                        <div class="col-md-3">
                            {{ form_row(searchForm.distance) }}
                            <p class="color-secondary-custom">Valeur choisie : <span id="distanceValue">100 Km</span></p>
                        </div>

                        <div class="col-md-6">{{ form_row(searchForm.submit) }}</div>
                        <div class="col-md-6">{{ form_row(searchForm.reset) }}</div>
                        
                    </div>
                {{ form_end(searchForm) }}
            </div>
        </div>
    </div>
</div>
