{% extends 'base.html.twig' %}

{% block title %}{{ activity.name }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card w-auto border-secondary-custom bg-primaryBlue m-2 p-3" style="max-width: 1000px;">
            <div class="row g-0">
                <small class="card-header color-secondary-custom" style="border-bottom: none;">
                    <i>
                        <a href="{{ path('app_category', { slug : activity.category.slug } ) }}" class=" text-decoration-none color-secondary-custom">{{ activity.category.name }}
                        </a> > 
                        <a href="{{ path('app_subcategory', { categorySlug: activity.category.slug, subcategorySlug: activity.subcategory.slug }) }}" class=" text-decoration-none color-secondary-custom">{{ activity.subcategory.name }}
                        </a> > {{ activity.name }}
                    </i>
                </small>
                <div class="col-md-6">
                    <div id="carouselActivity" class="carousel carousel-light slide card-img-top" data-bs-ride="carousel">
                        <!-- Indicateurs -->
                        <div class="carousel-indicators">
                            {% for i in 0..3 %}
                                <button type="button" data-bs-target="#carouselActivity" data-bs-slide-to="{{ i }}" class="{% if i == 0 %}active{% endif %}" aria-label="Slide {{ i + 1 }}"></button>
                            {% endfor %}
                        </div>
                        <!-- Slides -->                        
                        <div class="carousel-inner" data-bs-interval="10000">
                            <div
                                class="carousel-item active"
                                data-activity-name="{{ activity.name }}"
                                data-activity-slug="{{ activity.slug }}"
                            >
                                <a href="{{ path('app_subcategory', { categorySlug: activity.category.slug, subcategorySlug: activity.subcategory.slug }) }}">
                                    <img src="/uploads/{{ activity.image }}"
                                        class="figure-img img-fluid rounded border-secondary-custom" 
                                        alt="{{ activity.name }}" 
                                        style="object-fit: cover; width: 100%; height: 400px;"
                                        loading="lazy">
                                    <div class="carousel-caption">
                                        <h2 class="color-secondary-custom">{{ subcategory.name }}</h2>
                                    </div>
                                </a>
                            </div>
                            <div 
                                class="carousel-item" 
                                data-activity-name="{{ activity.name }}" 
                                data-activity-slug="{{ activity.slug }}"
                            >
                                <a href="#">
                                    <img src="/uploads/{{ activity.image1 }}"
                                        class="figure-img img-fluid rounded border-secondary-custom" 
                                        alt="{{ activity.name }}" 
                                        style="object-fit: cover; width: 100%; height: 400px;"
                                        loading="lazy">
                                    <div class="carousel-caption" style="background-color: rgba(0, 0, 0, 0.2);">
                                        <h2 class="color-secondary-custom">{{ subcategory.name }}</h2>
                                    </div>
                                </a>
                            </div>
                            <div 
                                class="carousel-item" 
                                data-activity-name="{{ activity.name }}" 
                                data-activity-slug="{{ activity.slug }}"
                            >
                                <a href="#">
                                    <img src="/uploads/{{ activity.image2 }}"
                                        class="figure-img img-fluid rounded border-secondary-custom" 
                                        alt="{{ activity.name }}" 
                                        style="object-fit: cover; width: 100%; height: 400px;"
                                        loading="lazy">
                                    <div class="carousel-caption" style="background-color: rgba(0, 0, 0, 0.2);">
                                        <h2 class="color-secondary-custom">{{ subcategory.name }}</h2>
                                    </div>
                                </a>
                            </div>
                            <div 
                                class="carousel-item" 
                                data-activity-name="{{ activity.name }}" 
                                data-activity-slug="{{ activity.slug }}"
                            >
                                <a href="#">
                                    <img src="/uploads/{{ activity.image3 }}"
                                        class="figure-img img-fluid rounded border-secondary-custom" 
                                        alt="{{ activity.name }}" 
                                        style="object-fit: cover; width: 100%; height: 400px;"
                                        loading="lazy">
                                    <div class="carousel-caption" style="background-color: rgba(0, 0, 0, 0.2);">
                                        <h2 class="color-secondary-custom">{{ subcategory.name }}</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {# Boutons de navigation #}
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselActivity" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselActivity" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h1 class="card-title color-secondary-custom">{{ activity.name }}</h1>
                        <div>
                            {# Lien "Voir Plus/Moins" pour la description visible uniquement sur sm et plus petits #}
                            <p class="d-sm-block d-md-none">
                                <a 
                                    class="link text-decoration-none" 
                                    type="button" 
                                    data-bs-toggle="collapse" 
                                    data-bs-target="#collapseActivityDescription" 
                                    aria-expanded="false" 
                                    aria-controls="collapseActivityDescription"
                                    id="toggleActivityDescriptionButton">
                                    Voir Plus...
                                </a>
                            </p>                        
                            {# Conteneur pour la description avec collapse horizontal seulement pour sm et plus petits #}
                            <div class="d-sm-block d-md-none">
                                <div 
                                    class="collapse" 
                                    id="collapseActivityDescription">
                                    <div 
                                        class="card card-body color-secondary-custom bg-primaryBlue border-secondary-custom">
                                        {{ activity.description|striptags }}
                                    </div>
                                </div>
                            </div>
                            {# La description est toujours visible sur md et plus grands #}
                            <div class="d-none d-md-block">
                                <div 
                                    class="card card-body color-secondary-custom bg-primaryBlue border-secondary-custom">
                                    {{ activity.description|striptags }}
                                </div>
                            </div>
                        </div>
                        <h3 class="card-title color-secondary-custom mt-4">{{ category.name }}</h3>
                        <p class="card-text color-secondary-custom">Lieu de l'activité + icon localisation</p>
                        <p class="card-text color-secondary-custom">Partenaire</p>
                        <p class="card-text color-secondary-custom">Avis et AddAvis</p>
                        <p class="card-text color-secondary-custom">Note et AddNote</p>
                        <p class="card-text color-secondary-custom">Tag</p>
                        <p class="card-text color-secondary-custom">{{ activity.priceWt|price }}</p>
                    </div>
                </div>
                <div class="card-footer btn-group d-flex justify-content-center align-items-center mt-4" role="group" aria-label="Basic outlined example" style="border-top: none;">
                    <button href="#"  type="button" class="btn">Ajouter au panier</button>
                    <button href="#"  type="button" class="btn">Réserver</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Script pour basculer le texte "Voir Plus" et "Voir Moins"
        document.addEventListener('DOMContentLoaded', () => {
            const toggleBtn = document.getElementById('toggleActivityDescriptionButton');
            const collapseElement = document.getElementById('collapseActivityDescription');
    
            // Mettre à jour le texte lors de l'ouverture
            collapseElement.addEventListener('shown.bs.collapse', () => {
                toggleBtn.textContent = 'Voir Moins';
            });

            // Mettre à jour le texte lors de la fermeture
            collapseElement.addEventListener('hidden.bs.collapse', () => {
                toggleBtn.textContent = 'Voir Plus...';
            });
        });
    </script>
{% endblock %}
